# ignore ALL .log files
HW1/skeleton_code/Image/q2/1/.DS_Store
HW1/skeleton_code/Image/q1/.DS_Store
.DS_Store
HW1/.DS_Store
HW1/skeleton_code/.DS_Store
HW1/skeleton_code/Image/.DS_Store
HW1/skeleton_code/Image/q2/.DS_Store
homeworks22:23/.DS_Store
homeworks22:23/hw1/.DS_Store
homeworks22:23/hw1/Entrega/.DS_Store